extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') â† Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Project title.
        h1 #{projects[id].project_name}

        //- Project description.
        p.lead.text-light
          | #{projects[id].description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        //- Technologies.
        ul
          each tech in projects[id].technologies
            li #{tech}

        //- GitHub links.
        a.button.expanded(href=`${projects[id].live_link}` target='_blank') Live Demo
        a.button.expanded(href=`${projects[id].github_link}` target='_blank') GitHub Repo

    //- Project images.
    each image, i in image_urls
      if i > 0
        img.image(src=`${image}` alt=`${projects[id].project_name} image`)
